@import "../../styles/config";
.btn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  padding: 10px 32px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  width: fit-content;
}
.bgwhite {
  background: $white;
  color: $Yellow;
}
.bgGreen{
  background: $greenLight;
  color: $white;
}
.bgyellow{
  background: $Yellow;
  color: $white;
}
.bgGreen,.bgyellow{
 position: absolute;
 top: 8px;
 right: 8px;
}
