@import "../../styles/_colors.scss";
@import "../../styles/_config.scss";

.ProductsCard {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 20px;
  .product {
    width: 200px;
    @include flex(column, center, center);
    gap: 10px;
    font-family: "inter";
    position: relative;
    img {
      width: 100%;
    }
    .category {
      color: $lowOpacityHeader;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      text-transform: capitalize;
    }
    .name,
    .price {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      color: $black;
      text-transform: capitalize;
    }
    .price {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.78px;
    }
  }
}
