$navColor: #146454;
$Yellow: #FF9500;
$btnGreen: #146454;
$white: #ffffff;
$black: #000000;
$greenLight: #2A7264;
$greenSolid: #20603D;
$lowOpacityHeader: #9F9F9F;
$footerMcolor:#624D4D;
$footerColorS: #817D7D;
