$navColor: #146454;
$Yellow: #FF9500;
$btnGreen: #146454;
$white: #ffffff;
$black: #000000;
$greenLight: #2A7264;
$greenSolid: #20603D;
$lowOpacityHeader: #9F9F9F;
$footerMcolor:#624D4D;
$footerBColorS: #817D7D;
$categoryColor: #4B4B4B;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction !important;
    justify-content: $justify-content;
    align-items: $align-items;
  }

.container{
    padding-inline: 4%;
}