@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
.container {
  padding-inline: 4%;
}

.hero {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  padding-block: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: strech;
  gap: 20px;
}
.hero .categories {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: #f9fcf7;
  border-radius: 10px;
  gap: 10px;
}
.hero .categories li a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.2px;
  color: #4B4B4B;
}
.hero .middleDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.hero .middleDiv .cta {
  width: 100%;
  height: 90%;
  background-color: #FF9500;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding-left: 30px;
}
.hero .middleDiv .cta .contents {
  width: 250px;
  z-index: 9;
  font-family: Inter;
  color: #ffffff;
}
.hero .middleDiv .cta .contents h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: 48.61px;
}
.hero .middleDiv .cta .contents h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38.73px;
}
.hero .middleDiv .cta .contents p {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.78px;
}
.hero .middleDiv .cta .img {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero .middleDiv .cta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .middleDiv .offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.hero .middleDiv .offers > * {
  flex: 1;
}
.hero .middleDiv .offers .btm-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/Images/highheels.png");
  background-size: cover;
  background-position: center;
  height: 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .middleDiv .offers .btm-img p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  color: #ffffff;
}
.hero .middleDiv .offers .btm-img:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/Images/yellowHeadset.jpeg");
  background-size: cover;
  background-position: center;
}
.hero .middleDiv .offers .btm-img:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/Images/yellowHeadset.jpeg");
  background-size: cover;
  background-position: center;
}
.hero .middleDiv .offers .btm-img:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/Images/yellowHeadset.jpeg");
  background-size: cover;
  background-position: center;
}
.hero .rightDiv {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero .rightDiv .manage {
  width: 100%;
  height: 45%;
  background: #20603D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: Inter;
  color: white;
  padding: 20px;
  border-radius: 12px;
}
.hero .rightDiv .manage h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.hero .rightDiv .manage p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}
.hero .rightDiv .manage a {
  color: #146454;
}
.hero .rightDiv .discount {
  width: 100%;
  height: 50%;
  background: url("../../public/Images/rightFrame.svg");
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  color: #ffffff;
}
.hero .rightDiv .discount h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
}
.hero .rightDiv .discount h1 {
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.14px;
  text-align: left;
}
.hero .rightDiv .discount a {
  color: #F15C6C;
}/*# sourceMappingURL=style.css.map */