@import "../../styles/_colors.scss";
@import "../../styles/_config.scss";

a {
  text-decoration: none;
  font-size: 18px;
  @include flex(row, center, center);
  gap: 5px;
}
nav {
  width: 100%;
  @include flex(column, center, center);
  gap: 20px;
  padding-block: 15px;
  background: $navColor;
  .search {
    width: 100%;
    @include flex(row, space-between, center);
    form {
        width: 400px !important;
        position: relative;
        img{
            position: absolute;
            top: 25%;
            left: 15px;
            transform: translate(-50%);
        }
        input {
          width: 100%;
          background: $white;
          padding: 10px 10px 10px 30px;
          border: none;
          border-radius: 10px;
        }
    }
    .selections {
      @include flex(row, end, center);
      gap: 20px;
      select {
        border: none;
        padding: 4px 5px 4px 15px;
        background: $white;
        width: 95px;        
        height: 40px;
        border-radius: 10px;
      }
      .cart{
        position: relative;
        padding: 5px;
        span{
            position: absolute;
            top: -6px;
            right: -2px;
            color: white;
        }
      }
    }
  
  }

  .nav-links-div {
    width: 100%;
    ul {
      width: 100%;
      list-style: none;
      @include flex(row, start, center);
      gap: 20px;
      li {
        a {
          color: $white;
        }
      }

      .lists-grp {
        @include flex(row, center, center);
        margin-left: auto;
      }
    }
  }
}
